
html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}
.container{
    max-width: 1100px;
}
nav {
    
    position: absolute;
    z-index: 100;
    position: fixed;
}
header{
    background-image: linear-gradient(to right, hsla(231, 41%, 49%, 0.411), hsla(0, 0%, 0%, 0.541)), url('assets/SL-0212121-40670-68.jpg');
    background-size: cover;
    background-position-y: -50px;
    height: 600px;
    position: relative;
}
.titulo{
    color: #fff;
    font-size: 45px;
    position: absolute;
    top: 200px;
    text-align: center;
    left: 55%;
}
.boton {
    background-color: #283747;
    color: #fff;
    border-radius: 8px;
    padding:  10px 20px;
    font-weight: bold;
    border: none;
    position: absolute;
    top: 420px;
    left: 69%;
    text-decoration: none;
}

.logo{
    width: 50px;
}

#row-fila1{
    background-image: linear-gradient(to right, hsla(0, 0%, 6%, 0.692), hsla(0, 0%, 0%, 0.603)), url('assets/4003914.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.row{
    margin: 0;
}

.tipos{
    width: 200px;
}
.type{

    padding-left: 120px;
    padding-right: 120px;
}

#row-fila2 img{
    width: 500px;
    border-radius: 8px;
}
#row-fila2, #row-fila4{
    padding-left: 50px;
    padding-right: 50px;
    background-color: #283747
}
#row-fila3{
    background-image:linear-gradient(to right, hsla(0, 0%, 6%, 0.692), hsla(0, 0%, 0%, 0.603)),  url('assets/SL-0212121-40670-11.jpg');
    background-size: cover;
    background-attachment:fixed ;
    height: 400px;
}
footer{
    background-color: black;
    height: 60px;
}
.cont{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
}
.carta{
    padding: 10px;
    margin: 20px;
    height: 360px;
    overflow: hidden;
    border-radius: 8px;
    border-width: 2px;
    border: black;
    background-color: rgba(255, 255, 255, 0.801);
    box-shadow: 5px 8px 8px rgb(0, 0, 0, 0.3);
    justify-content: center;
    color:#666666;
}

.carta img{
     width: 100%;   
     height: 200px; 
}
.botona {
    background-color: #283747;
    color: #fff;
    border-radius: 8px;
    padding:  10px 20px;
    font-weight: bold;
    border: none;
}
.botona:hover{
    background-color: #fff;
    color:  #283747;
    border: 2px;
    border-color: #283747;
    transition: 0.7s;
}
.boton:hover{
    background-color: #fff;
    color:  #283747;
    border: 2px;
    border-color: #283747;
    transition: 0.7s;
}
 a:hover{
     color: yellow;
     transition: 2s;
 }

